# Configuration file for stats_vs_radius.py.
#
# This script will integrate predicted peaks with varying sphere radii.
# It will then analyze the data for the number of peaks above 2 sig, etc.
# It will plot the results and save the results in a saved plot file
# and in a stats.lst file.
#
# Before running this script, an integrate and UB Niggli matrix must
# be created. The files "run_Niggli.integrate" and "run_Niggli.mat", where
# run is the run number, must exist in the working directory.
#
# Each line can either start with a comment, indicated by a '#' mark or start
# with a parameter name and value, optionally followed by a comment.  ALL 
# parameters used by the script must be specified.  If a required parameter 
# is not specified, the script will terminate with a message indicating which 
# parameter was missing.
#

run               8323
instrument_name   TOPAZ                        # prefix for run file names

#
# Specify calibration file(s).  SNAP requires two calibration files, one
# for each bank.  If the default detector position is to be used, specify
# None as the calibration file name.
#
calibration_file_1  None
calibration_file_2  None

#
# Set the data_directory to None to use findnexus to get the run file when
# running this on the SNS systems.  On other systems, all of the input files
# must be copied into one directory and that directory must be specified as
# the data_directory
#
# data_directory    None       
data_directory    C:\data\TOPAZ\Tutton\CuT_74D_RT\
output_directory  C:\Users\Arthur\Desktop\R_sigma\

#
# Min & max tof determine the range of events loaded. Min & max monitor tof
# determine the range of tofs integrated in the monitor data to get the 
# total monitor counts
#
min_tof            400
max_tof          16666


#
# Predicted peak positions are to be integrated. 
# The range of wavelengths and d-spacings must be specified
#
min_pred_wl                 0.3
max_pred_wl                 3.5
min_pred_dspacing           0.5
max_pred_dspacing           13.0

#
# Specify sphere  control parameters. 
#
min_peak_radius         0.01       
radius_step             0.01       # step size added to each radius
num_radius_steps        15
bkg_width               0.05       # added to peak integration radius
integrate_if_edge_peak  True       # for sphere integration only

#
# For the plot of statistics for each individual detector,
# specify the 2, 3, 5, or 10 sig threshold. The stats for
# all levels are written in the stats.lst file.
#
per_detector_sig        3


